@import 'styles/utils/mixins';
@import 'styles/utils/vars';

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 25px 0 16px;

  &__logo {
    display: flex;
    gap: 14px;
    margin-bottom: 28px;

    @include onTablet {
      margin-bottom: 41px;
    }
  }

  &__btn {
    display: flex;
  }
}

.logo_home,
.logo_vector,
.btn_vector {
  height: 16px;
  width: 16px;

  @include background-center;
}

.logo_home {
  background-image: url(../../assets/icons/house.svg);
}

.logo_vector {
  background-image: url(../../assets/icons/arrowRight.svg);
}

.logo_link {
  @include custom-font-style('Mont', 700, 12px, 16px);
  color: $colorPrimary;

  &::first-letter {
    text-transform: uppercase;
  }
}

.logo_text,
.btn_link {
  @include custom-font-style('Mont', 700, 12px, 16px);
  color: $colorSecondary;
}

.btn_vector {
  background-image: url(../../assets/icons/greyArrowLeft.svg);
}

.title {
  font-family: 'Mont-Bold';
  font-weight: 800;
  font-size: 22px;
  line-height: 31px;

  color: $colorPrimary;
  margin-bottom: 32px;

  @include onTablet {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;

    margin-bottom: 40px;
  }
}
