@use 'styles/utils/mixins' as *;
@use 'styles/utils/vars' as *;

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  padding: 23px;
  border: 1px solid $colorElements;

  @include onDesktop {
    width: 368px;
  }

  &__total {
    @include custom-font-style('Mont-Bold', 800, 32px, 41px);
    color: $colorPrimary;
    text-align: center;
    letter-spacing: -0.01em;
  }

  &__count {
    @include custom-font-style('Mont', 600, 14px, 21px);
    color: $colorSecondary;
    text-align: center;

    padding-bottom: 15px;
    border-bottom: 1px solid $colorElements;
  }

  &__button {
    @include flex-center;
    @include custom-font-style('Mont', 700, 14px, 21px);
    color: $colorWhite;
    background: $colorPrimary;

    height: 48px;
    width: 240px;
    margin: 0 auto;
    transition: 300ms background-color;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    @include onTablet {
      width: 320px;
    }
  }
}
