@use 'styles/utils/mixins' as *;
@use 'styles/utils/vars' as *;

.categories {
  @include flex-column;

  max-width: 1136px;
  margin: 0 auto;

  h2 {
    @include custom-font-style('Mont-Bold', 800, 19px, 21px);
    text-transform: uppercase;
    color: $colorPrimary;
    margin-bottom: 40px;

    @include onTablet {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 50px;
    }

    @include onDesktop {
      font-size: 32px;
      line-height: 41px;
    }
  }

  &__arrow {
    margin-bottom: 90px;

    @include onTablet {
      margin-bottom: 120px;
    }

    &_item {
      display: block;
      width: 25px;
      height: 25px;
      border-bottom: 5px solid #25c57d;
      border-right: 5px solid #b3c816;
      transform: rotate(45deg);
      margin: -16px;
      animation: arrow-down 2s infinite;

      @include onTablet {
        width: 30px;
        height: 30px;
      }

      &:nth-child(2){
        animation-delay: -0.2s;
      }

      &:nth-child(3){
        animation-delay: -0.4s;
    }
    }
  }

  &__list {
    @include flex-column;
    gap: 40px;

    @include onTablet {
      gap: 64px;
      margin: 0 auto;
    }
  }

  &__item {
    @include flex-column;
    gap: 24px;
  }

  &__subtitle {
    @include custom-font-style('Mont', 700, 28px, 32px);
    color: $colorPrimary;

    @include onTablet {
      font-size: 42px;
      line-height: 46px;
    }
  }

  &__img_wrapper {
    display: inline-flex;
    justify-content: center;
    height: 200px;
    width: 280px;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    @include onTablet {
      height: 300px;
      width: 500px;
    }

    @include onDesktop{
      height: 400px;
      width: 800px;
    }
  }

  &__btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    padding: 10px;

    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border-radius: 1000px;
    box-shadow: 6px 6px 6px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;

    span {
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      color: #313133;
    }

    @include onTablet {
      width: 200px;
      height: 50px;
      box-shadow: 12px 12px 12px rgba(79,209,197,.64);

      span {
        font-size: 14px;
      }
    }

    &::before {
      content: '';
      border-radius: 1000px;
      min-width: calc(300px + 12px);
      min-height: calc(60px + 12px);
      border: 6px solid #00FFCB;
      box-shadow: 0 0 60px rgba(0,255,203,.64);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
    }

    &::after {
      content: '';
      width: 30px; height: 30px;
      border-radius: 100%;
      border: 6px solid #00FFCB;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }

    &:hover {
      transform: translateY(-6px);
    }
  }
}

@keyframes arrow-down {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
