@use 'styles/utils/mixins' as *;

.CartList {
  margin-bottom: 32px;

  @include onDesktop {
    margin-right: 16px;
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
