@use 'styles/utils/mixins' as *;
@use 'styles/utils/vars' as *;

.card {
  @include flex-column;

  height: 440px;
  width: 288px;
  border: 1px solid $colorElements;
  border-radius: 15px;

  margin-bottom: 40px;
  padding: 20px;
  transition: box-shadow 0.3s;

  &:last-child {
    margin-bottom: 0;
  }

  @include onTablet {
    height: 506px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include onDesktop {
    width: 272px;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }

  &_logo {
    height: 130px;
    width: 223px;
    object-fit: contain;

    margin-bottom: 24px;

    @include onTablet {
      height: 208px;
      width: 196px;
    }

    @include onDesktop {
      height: 208px;
      width: 196px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &_title {
    display: inline-block;
    @include custom-font-style('Mont', 600, 14px, 21px);
    min-height: 42px;
    vertical-align: top;
    margin-bottom: 8px;
  }

  &_price {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $colorElements;
    margin-bottom: 8px;
  }

  &_newPrice {
    font-family: 'Mont-Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    margin-right: 8px;
    margin-bottom: 8px;
    color: $colorPrimary;
  }

  &_characteristics {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 8px;
  }

  &_description {
    display: flex;
    justify-content: space-between;
    @include custom-font-style('Mont', 400, 12px, 15px);

    p {
      color: $colorSecondary;
    }

    span {
      color: $colorSecondary;

      &:last-of-type {
        color: $colorPrimary;
      }
    }
  }

  &_rating {
    display: flex;
    gap: 8px;

    span {
      color: $colorPrimary;
    }
  }

  &_star {
    background-image: url('../../assets/icons/star.png');
    @include background-center-contain;

    width: 15px;
    height: 15px;
  }

  &_checkout {
    background: $colorPrimary;
    color: $colorWhite;
    height: 40px;
    width: 80%;

    margin: 0 auto;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }
  }

  &_uncheckout {
    background: $colorWhite;
    color: #27ae60;
    border: 1px solid $colorElements;
  }

  &_wishlist {
    height: 40px;
    width: 40px;
    border: 1px solid #b4bdc3;
    background-color: $colorWhite;
    background-image: url('../../assets/icons/favourites.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
    transition: border 0.3s;
    &:hover {
      border-color: $colorPrimary;
    }

    &_heart {
      background-image: url('../../assets/icons/redHeart.svg');
    }
  }

  &_buttons {
    display: flex;
    margin-top: 16px;
    width: 100%;
  }
}
