@use 'styles/utils/vars' as *;
@use 'styles/utils/mixins' as *;

.checkout_card {
  padding: 20px;
  text-align: center;

  @include onDesktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
  }

  &__img_wrapper {
    width: 188px;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    @include onDesktop {
      width: 208px;
    }
  }

  &__name {
    @include custom-font-style('Mont', 400, 14px, 18px);
    color: $colorPrimary;
    margin-top: 15px;

    @include onTablet {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__count {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 8px auto 5px;
  }

  &__price {
    @include custom-font-style('Mont', 600, 14px, 120%);

    @include onTablet {
      font-weight: 700;
      font-size: 22px;
      line-height: 140%;
    }
  }
}
