@mixin onMobile {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin background-center-contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin hover-scale($scale-factor: 1.1) {
  &:hover {
    transform: scale($scale-factor);
  }
}
