@mixin onMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin custom-font-style($font-family, $weight, $size, $line-height) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin background-center-contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin background-center {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin hover-scale($scale-factor: 1.1) {
  &:hover {
    transform: scale($scale-factor);
  }
}
