@use 'styles/utils/mixins' as *;
@use 'styles/utils/vars' as *;

.header {
  @include flex-between;

  position: sticky;
  top: 0;
  z-index: 3;

  height: 48px;
  padding-left: 16px;

  background-image: $backgroundHeader;
  box-shadow: 0px 1px 0px $colorElements;

  @include onDesktop {
    height: 64px;
    padding-left: 32px;
  }

  &__icon {
    width: 32px;
    height: 32px;

    @include onDesktop {
      width: 52px;
      height: 52px;
    }
  }

  &__list {
    display: none;

    @include onTablet {
      @include flex-center;
    }
  }

  &__link {
    display: flex;
    position: relative;
    margin-right: 32px;
    color: $colorLink;

    font-family: "Nanum Myeongjo";
    font-weight: 800;
    font-size: 11px;
    line-height: 9px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    transition: color 0.3s;

    @include onDesktop {
      font-size: 13px;
      line-height: 11px;
      margin-right: 64px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $colorHover;
    }

    &::after {
      content: '';
      position: absolute;
      top: 26.5px;
      bottom: 0;
      left: 50%;
      right: 0;
      height: 2px;
      width: 0%;
      background-color: $colorHover;
      transform: translate(-50%, -50%) scaleX(0);
      transform-origin: left center;
      transition: transform 0.3s ease-in-out;
    }

    &:hover::after,
    &:focus::after {
      transform: translate(-50%, -50%) scaleX(1);
      width: 100%;
    }
  }

  &__icons {
    display: none;

    @include onTablet {
      @include flex-center;
    }
  }

  &__item {
    position: relative;
    @include flex-center;
    width: 48px;
    height: 48px;

    border-left: 1px solid $colorSecondary;
    background: transparent;

    @include onDesktop {
      width: 64px;
      height: 64px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__cart,
  &__fav {
    @include background-center-contain;
    @include hover-scale;

    height: 28px;
    width: 28px;

    @include onDesktop {
      height: 34px;
      width: 34px;
    }
  }

  &__cart {
    background-image: url(../../assets/icons/bag.svg);
  }

  &__fav {
    background-image: url(../../assets/icons/favourite.svg);
  }

  &__login {
    background-image: url(../../assets/icons/login.svg);
    @include background-center-contain;

    height: 30px;
    width: 30px;

    @include hover-scale;

    @include onDesktop {
      height: 36px;
      width: 36px;
    }
  }

  &__heart {
    position: absolute;
    bottom: 26px;
    right: 10px;

    z-index: 1;

    @include onDesktop {
      bottom: 36px;
      right: 10px;
    }
  }

  &__signIn {
    position: absolute;
    bottom: 26px;
    right: 1px;

    width: 16px;
    height: 16px;
    background-image: url('../../assets/icons/signin.png');
    background-size: contain;

    z-index: 1;

    @include onDesktop {
      bottom: 36px;
      right: 1px;

      width: 20px;
      height: 20px;
    }
  }

  &__burger {
    display: block;
    width: 48px;
    height: 48px;
    border-left: 1px solid $colorElements;
    border-right: 1px solid $colorElements;

    background-image: url(../../assets/icons/union.svg);
    @include background-center;
    cursor: pointer;

    @include onTablet {
      display: none;
    }
  }
}
