@import 'styles/utils/mixins';
@import 'styles/utils/vars';

.cartItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e6e9;
  padding: 16px;
  gap: 16px;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
  }

  &__info {
    display: inline-flex;
    align-items: center;
    gap: 16px;

    @include onTablet {
      gap: 24px;
    }
  }

  &__delete_btn {
    width: 16px;
    height: 16px;
    padding: 3px;
    cursor: pointer;
  }

  &__img {
    width: 80px;
    height: 80px;
    padding: 7px;
  }

  &__description {
    @include custom-font-style('Mont', 600, 14px, 18px);
    color: $colorPrimary;

    @include onDesktop {
      width: 336px;
    }
  }

  &__quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_control {
      display: flex;
      align-items: center;
      gap: 13px;
    }

    &_button {
      @include flex-center;
      width: 32px;
      height: 32px;
      border: 1px solid #b4bdc4;
      cursor: pointer;
      transition: 0.5s;
      background-color: white;

      &:hover {
        border: 1px solid $colorPrimary;
        transition: 0.5s;
      }

      &_symbol {
        width: 10px;
      }

      &_disabled {
        background-color: grey;
        &:hover {
          border: 1px solid #b4bdc4;
        }
      }
    }
  }

  &__count {
    @include custom-font-style('Mont', 600, 14px, 14px)
  }

  &__price {
    @include custom-font-style('Mont-Bold', 800, 22px, 27px);

    @include onTablet {
      padding-left: 53px;
    }
  }
}
