@use 'styles/utils/vars.scss' as *;
@use 'styles/utils/mixins.scss' as *;

.burger {
  @include flex-column;
  justify-content: space-between;
  background-color: $colorWhite;
  height: 100vh;
  overflow-x: hidden;

  @include onTablet {
    display: none;
  }

  &__top {
    @include flex-between;
    width: 100%;

    background-image: $backgroundHeader;
    box-shadow: 0px 1px 0px $colorElements;
  }

  &__logo {
    @include flex-center;
    margin-left: 16px;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__icons {
    display: flex;
  }

  &__wishlist,
  &__cross {
    @include flex-center;
    width: 48px;
    height: 48px;
    border-left: 1px solid $colorElements;
  }

  &__wishlist {
    position: relative;

    img {
      height: 28px;
      width: 28px;
    }
  }

  &__cross {
    border-right: 1px solid $colorElements;
  }

  &__heart {
    position: absolute;
    bottom: 26px;
    right: 4px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    text-align: center;
    margin-bottom: 32px;

    &:first-child {
      margin-top: 32px;
    }
  }

  &__link {
    font-family: "Nanum Myeongjo";
    font-weight: 800;
    font-size: 13px;
    color: $colorSecondary;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    transition-duration: 0.5s;

    &:active {
      color: $colorPrimary;
      padding-bottom: 6px;
      border-bottom: 2px solid $colorPrimary;
      transition-duration: 0.5s;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    border-top: 1px solid $colorElements;
  }

  &__signIn {
    position: absolute;

    bottom: 38px;
    left: 28px;

    width: 18px;
    height: 18px;
    background-image: url('../../assets/icons/signin.png');
    background-size: contain;

    z-index: 1;
  }

  &__basket,
  &__login {
    @include flex-center;
    position: relative;
    height: 60px;

    &:focus {
      border-bottom: 2px solid $colorPrimary;
    }
  }

  &__basket {
    img {
      height: 38px;
    }
  }

  &__login {
    img {
      height: 40px;
    }
  }

  &__count {
    position: absolute;

    bottom: 38px;
    right: 0;
  }

  &__divider {
    width: 1px;
    height: 100%;
    background-color: $colorElements;
  }
}
