@import 'styles/utils/mixins';
@import 'styles/utils/vars';

.modal {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);

  @include onDesktop {
    flex-direction: row;
  }

  &_product {
    height: 100%;
    background-color: #96c0b7;

    @include onDesktop {
      position: relative;
      width: 40%;
      background-color: transparent;
      .round_shape {
        width: 125%;
        height: 150%;
        position: absolute;
        top: 50%;
        left: 38%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #96c0b7;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
        z-index: 1;
      }
    }
  }

  &_info {
    height: 100%;
    text-align: center;

    @include onDesktop {
      width: 60%;
      padding: 30px;
    }

    .info {

      h2 {
        font-size: 1.25rem;
      }

      form {
        .form_list {
          margin-top: 1.5rem;
          margin-left: 3.5rem;

          .form_list_row {
            margin: 1rem 0;

            label {
              font-size: 1rem;
            }

            input {
              width: 70%;
              font-size: 1rem;
              padding: 0.4rem 0;
              border: none;
              display: inline-block;
              border-bottom: solid 2px #999;
              background-color: transparent;
              transition: all 0.3s ease;

              &:focus {
                border-color: #cdb196;
              }
            }

            .user {
              .fa_user {
                color: #999;
                font-size: 1rem;
              }

              input {
                position: relative;
                left: -16px;
                padding-left: 30px;
              }
            }

            .number {
              .fa_credit_card {
                color: #999;
                font-size: 1rem;
              }

              input {
                position: relative;
                left: -20px;
                padding-left: 30px;
              }
            }

            .date {
              float: left;

              input {
                width: 60px;
                text-align: center;
              }

              .year {
                margin-left: 1.5rem;
              }
            }

            .cvc {
              float: left;
              margin-left: 6rem;
              text-align: center;

              .fa-question-circle {
                color: dodgerblue;
                display: inline-block;
                position: relative;
                left: 0.75rem;
              }

              input {
                width: 70px;
                text-align: center;
              }
            }

            .checkbox {
              margin-top: 2rem;

              input {
                width: auto;
              }

              span {
                font-size: 0.8rem;
              }
            }
          }
        }

        button {
          color: white;
          font-size: 1rem;
          margin-left: 1rem;
          padding: 1rem 2.5rem;
          position: absolute;
          bottom: 0;
          cursor: pointer;
          border-radius: 3px;
          background-color: #96c0b7;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          transition: all 0.3s ease;

          &:hover {
            background-color: #b59779;
          }
        }
      }

      @include onDesktop {
        h2 {
          font-size: 2.25rem;
          margin-left: 1rem;
        }
      }
    }
  }
}


