@import 'styles/utils/mixins';
@import 'styles/utils/vars';

.footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 0 10px;

  border-top: 1px solid $colorElements;
  background-image: $backgroundHeader;

  @include onTablet {
    padding: 0 30px;
  }

  @include onDesktop {
    padding: 0 152px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 90px;
    margin-bottom: 0;

    @include onTablet {
      height: 70px;
    }
  }

  &__icon {
    display: flex;
    justify-items: center;
    height: 30px;
  }

  &__list {
    @include flex-column;
    justify-content: center;
    gap: 12px;

    @include onTablet {
      flex-direction: row;
      gap: 48px;
    }

    @include onDesktop {
      gap: 107px;
    }
  }

  &__item {
    font-family: 'Mont-Bold';
    color: $colorSecondary;
    font-weight: 700;
    font-size: 9px;
    line-height: 10px;

    text-transform: uppercase;
    letter-spacing: 0.04em;

    transition: color 0.3s;

    @include onTablet {
      font-size: 11px;
    }

    @include onDesktop {
      font-size: 12px;
      line-height: 11px;
    }

    &:hover {
      color: $colorPrimary;
      text-shadow: 0px 0px 1px rgba(193, 236, 176, 0.7);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    font-family: 'Mont';
    color: $colorSecondary;
    font-weight: 600;
    font-size: 0;
    border: none;

    background: transparent;

    @include flex-center;
    position: relative;
    cursor: pointer;

    transition: color 0.3s;

    @include onTablet {
      font-size: 12px;
    }

    &:hover {
      color: $colorBlack;
    }
  }

  &__arrow {
    width: 32px;
    height: 32px;
    border: 1px solid #b4bdc4;
    border-radius: 20px;
    margin-left: 16px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }
  }
}
