@import 'styles/utils/mixins';
@import 'styles/utils/vars';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10px;

  border-top: 1px solid $colorElements;
  background-image: $backgroundHeader;

  @include onTablet {
    padding: 0 30px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1136px;
    height: 90px;
    margin: 0 auto;

    @include onTablet {
      height: 70px;
    }
  }

  &__icon {
    height: 30px;

    img {
      max-width: 100%;
      max-height: 100%
    }
  }

  &__links {
    @include flex-column;
    justify-content: center;
    gap: 12px;

    @include onTablet {
      flex-direction: row;
      gap: 48px;
    }

    @include onDesktop {
      gap: 107px;
    }
  }

  &__item {
    @include custom-font-style('Mont-Bold', 700, 9px, 12px);
    color: $colorSecondary;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    transition: color 0.3s;

    @include onTablet {
      font-size: 11px;
    }

    @include onDesktop {
      font-size: 12px;
      line-height: 15px;
    }

    &:hover {
      color: $colorPrimary;
      text-shadow: 0px 0px 1px rgba(193, 236, 176, 0.7);
    }
  }

  &__btn {
    @include flex-center;
    color: $colorSecondary;
    transition: all 0.3s ease;

    span {
      display: none;
    }

    img {
      width: 32px;
      height: 32px;
      border: 1px solid #b4bdc4;
      border-radius: 20px;
    }

    @include onTablet {
      span {
        display: inline-block;
        margin-right: 16px;
        @include custom-font-style('Mont', 600, 12px, 15px);
      }
    }

    &:hover {
      span {
        color: $colorBlack;
      }

      img {
        box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
      }
    }
  }
}
