@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.profile {
  @include flex-column;
  position: relative;
  width: 320px;
  background-color: $colorWhite;
  border-radius: 15px;
  padding: 16px;

  &__fileInput {
    display: none;
  }

  &__name {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 16px;
  }

  &__nameInput {
    width: 180px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  &__password {
    @include flex-column;
    gap: 18px;
  }

  &__passwordInput {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #272626;

    width: 200px;
    height: 40px;
    padding: 1.3rem 1.5rem;
    border-radius: 10px;
    background-color: rgba(217, 230, 185, 0.816);
    border: none;
  }
}
