@import 'styles/utils/mixins';
@import 'styles/utils/vars';

.checkout__page {
  max-width: 1440px;
  padding: 20px;
  font-family: Arial, sans-serif;

  @include onDesktop {
    padding: 40px;
  }

  h1 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
  }
}
